{% extends "base.html" %}
{% load static %}

{% block content %}
	<div class="container">

		<div class="row">
			<div class="col-sm-5">
				<h4>Sign up</h4>
				<form>
					<div class="signUpError" id="signUpNonFieldError">hello</div>
					<div class="form-group">
						<label for="signUpUsername">Username</label>
						<div class="signUpError" id="signUpUsernameError"></div>
						<input type="text" class="form-control" id="signUpUsername" placeholder="Enter username">
					</div>
					<div class="form-group">
						<label for="signUpEmail">Email</label>
						<div class="signUpError" id="signUpEmailError"></div>
						<input type="email" class="form-control" id="signUpEmail" placeholder="Enter email">
					</div>
					<div class="form-group">
						<label for="signUpUserType">User Type</label>
						<select class="form-control" id="signUpUserType">
							<option>candidate</option>
							<option>employer</option>
						</select>
					</div>
					<div class="form-group">
						<label for="signUpPassword">Password</label>
						<div class="signUpError" id="signUpPasswordError"></div>
						<input type="password" class="form-control" id="signUpPassword1" placeholder="Password">
					</div>
					<div class="form-group">
						<label for="signUpPassword">Confirm Password</label>
						<div class="signUpError" id="signUpConfirmPasswordError"></div>
						<input type="password" class="form-control" id="signUpPassword2" placeholder="Password">
					</div>
					<button type="submit" class="btn btn-primary" id="signUpButton">Sign up</button>
				</form>
			</div>
			<div class="col-sm-2"></div>
			<div class="col-sm-5">
				<h4>Login</h4>
				<form>
					<div class="form-group">
						<label for="exampleInputEmail1">Email address</label>
						<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
					</div>
					<div class="form-group">
						<label for="exampleInputPassword1">Password</label>
						<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
					</div>
					<button type="submit" class="btn btn-primary" id="login-button">Login</button>
				</form>
			</div>
		</div>
	</div>
{% endblock content %}

{% block script %}

	<script type="text/javascript" src="{% static 'all_users/signup.js' %}"></script>
	
{% endblock script %}
	
	